# Book config file example
# shell script = must be executable

sources="10.intro n_2 20.portraits n_3 p_6"
output="N76"

# Possible values for sourcespattern
# 0 : no change to filename in sources + you MUST specify a value for "images_parent_folder in case you intend to use -noimages option
# 1 : sources names stand for filename/filename(.sla)
# 2 : sources names stand for filename/PAO/filename(.sla)
# 3 (TODO) : smart detect 2 or 1 or 0
sourcespattern=1

syncmaster=master

if  [ "$1" = '-alt' ] ||  [ "$1" = '-ALT' ]
then 
	# config for alternative sources and output (sub-part) 
  # todo : as an option
	shift
	sources=""
	output="alt"
	sourcespattern=1
fi
config
