# All defaultconfig options can be overloaded for any specific sla file part of the project
# See slacheck.defaultconfig for list of possible settings

scribuscommand="scribusCTL"	
# command to call scribus 1.5 CTL (avoids some crashs but changes layout)

EmbedPDF=0			
# 1 : embed pdf ("expérimental")
# 0 : safe no-pdf-embed option (avoids crash)
