DFONT="Montserrat Light"

# ! logique inversée pour FontEmbedding
# Searchable PDF
# FontEmbedding=0 	# 0 = inclusion des fontes déclarées embedded ou outlined

# For printer PDF :
FontEmbedding=1		# 1 = vectorisé (PDF sans aucun texte et sans fonts)

scribuscommand="scribus"

# ------------- Temporary WORK IN PROGRESS settings

echo "==== WORK IN PROGRESS : LOW RESOLUTION ===="
Resolution="80"
PicRes="80"
